@very-wide:     3000px;

.tut-scroller {
  position: relative;

  a.move-left,
  a.move-right {
    position: absolute;
    top:      0;

    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .window {
    overflow: hidden;
    position: relative;

    .items {
      width:  @very-wide;
      min-height: 1px;
      position: relative;

      .item {
        position: absolute;
        top: 0;
        left: 0;
      }

      .hidden {
        display: none;
      }
    }
  }
}
